<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    <div class="col" *ngFor="let product of products">
      <div class="card h-100">
        <img [src]="product.imgUrl" class="card-img-top" [alt]="product.name" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text card-text-price">{{ product.price | currency:'EGP ':'symbol':'1.0-0'}}</p>
          <span class="badge badge-{{ product.inStock === 'In Stock' ? 'in' : 'out-of' }}-stock">{{ product.inStock
            }}</span>
          <div class="mt-3 d-flex justify-content-between">
            <a type="button" class="btn btn-sm btn-outline-success" [routerLink]="['/details', product.id]">Details</a>
            <button type="button" class="btn btn-sm btn-primary px-3" [disabled]="product.inStock === 'Out Of Stock'"
              (click)="addToCart(product)">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
