.badge-in-stock {
  background-color: #28a745;
  color: white;
}

.badge-out-of-stock {
  background-color: #dc3545;
  color: white;
}

.card-text-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
}
